.button {width:150px; display:block; font-size: 24px; margin: 8px auto 8px; cursor:pointer; padding:16px 0; text-align:center; border-radius:10px; text-decoration:none;}
.disabled {cursor:not-allowed;}
.left {float:left;}
.right {float:right;}
.inline {display:inline-block; margin:8px;}
 .invisible {display:none;}
.logo {font-family: 'Princess Sofia', cursive;}
#loader {width:100px; margin:200px auto; display:block;}
#loader div {border: 14px solid #7fa39b; border-top: 14px solid #2ae2d6; border-radius:50%; width:80px; height:80px; position:relative; z-index:5; animation: loaderSpin 1.5s linear infinite;}
.miniLoader {width:50px; margin:auto; display:block;}
.miniLoader div {border: 6px solid #7fa39b; border-top: 6px solid #2ae2d6; border-radius:50%; width:40px; height:40px; animation: loaderSpin 1.5s linear infinite;}
@keyframes loaderSpin {0%{transform:rotate(0deg);} 100%{transform:rotate(360deg);}}
#fader {margin:0px; padding:0px; position:fixed; top:0px; left:0px; width:100%; height:100%; background-color:#000000; opacity:0.5; z-index:2; display:block;}
#popupper {margin:0px; padding:0px; position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:3; display:none;}
#popup {width:60%; margin:200px auto 40px; padding:40px; text-align:center;}
#dashbar {position:fixed; top:0px; left:0px; width:100%; height:40px; display:none; padding:8px;}
#dashbar div {display:inline-block; font-size:26px; margin:0px 12px;}
#mainWrapper {margin:0px; padding:0px; position:fixed; top:40px; left:0px; width:100%;}
.miniButton {display:inline-block; font-size: 20px; margin:8px; cursor:pointer; padding:6px 10px; text-align:center; border-radius:10px; text-decoration:none;}

.inputSlot {width:100%; height:48px;}
.inputBox {display:inline-block; width:50%; height:48px; padding:0px; margin:0px; overflow:hidden;}
.inputLabel {height:32px; margin:8px; float:right; font-size:26px;}
.inputBoolPill {display:inline-block; width:64px; height:32px; margin:8px; border-radius:15px; transition:background-color 500ms;}
.inputBoolBall {width:24px; height:24px; margin:4px; border-radius:100%; position:relative; transition:left 500ms}
.inputText, .inputText:focus {border-radius: 10px; padding:1px 10px; border-style: none; outline: none; width:200px; height:32px; font-size:16px; margin:4px 8px;}
.inputRange {background-color:#ffffff; border-radius:10px; margin:4px 8px; width:220px; height:34px; overflow:hidden;}
.inputRangeSlider, .inputRangeSlider:focus {border-radius:10px 0px 0px 10px; margin:0px; padding:0px; height:34px; min-width:0px; max-width:220px; font-size:16px; word-wrap:normal;}
.inputRangeText, .inputRangeText:focus {padding:8px 10px; font-size:16px; display:block; width:200px; height:18px; overflow:hidden; word-wrap:normal; border-style: none; outline: none;}
#interceptor {margin:0px; padding:0px; position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:2; display:block;}
.inputHorzEnumLeft {display:inline-block; width:30px; height:34px; margin:0px; border-radius:10px 0px 0px 10px;}
.inputHorzEnumRight {display:inline-block; width:30px; height:34px; margin:0px; border-radius:0px 10px 10px 0px;}
.inputHorzEnumCell {display:inline-block; width:160px; height:34px; margin:0px; background-color:#ffffff; overflow:hidden;}
.inputHorzEnumValue {width:100%; text-align:center; margin:9px 0px; font-size:16px;}
